@import "tailwindcss";

@theme {
  --color-primary: #B0413E;
  --color-secondary: #FCAA67;
  --color-accent: #FFFFC7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}